/* Global styles */

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/josefin/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/josefin/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/josefin/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
}

:root {
    --grey: #fefefe;
    --black: #1e1e2e;
    --blue30: #375a7f;
}

html {
    --primary: var(--grey);
    --secondary: var(--black);

    background-color: var(--secondary);
    color: var(--primary);
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html.light {
    --primary: var(--black);
    --secondary: var(--grey);
}

body {
    padding-inline: 1rem;
    min-height: 100dvh;
    margin: 0 auto;
    text-align: justify;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 600px;
    }
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    text-decoration: underline var(--blue30);
    font-size: 2.1rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1.1em;
    hyphens: auto;
    line-height: 1.5;
    text-indent: 1em;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

ul, ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
    position: relative;
    color: var(--primary);
    text-decoration: none;
}

a:before {
    content: '';
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}
  
a:hover::before {
    width: 100%;
}

/* Card listing */
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}
