---
import Lottie from '../components/Lottie.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout hideFooter>
    <Lottie src="/lottie/404.json" width="320" height="231" />
    <h1>404</h1>
    <p>It seems like you've wandered into the wrong forest!</p>
    <a href="/">Return Home</a>
</Layout>

<style>
    :global(main) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h1 {
        display: none;
    }
</style>
