---
const year = new Date().getFullYear();
const socials = [
    {
        name: "GitHub",
        icon: "devicon-github-original",
        link: "https://github.com/giuseppecutuli",
    },
    // {
    //     name: "Email",
    //     icon: "/mail.svg",
    //     link: "#",
    // },
    {
        name: "LinkedIn",
        icon: "devicon-linkedin-plain",
        link: "https://www.linkedin.com/in/giuseppe-cutuli/",
    },
];
---
<footer>
    <ul class="socials">
        {socials.map((social) => (
            <li>
                <a href={social.link} target="_blank" class="social" title={social.name}>
                    <i class={social.icon}></i>
                </a>
            </li>
        ))}
    </ul>
    <small>&copy; {year} Giuseppe Cutuli. All Rights Reserved.</small>
</footer>
<style>
    footer {
        margin: 4rem 0;
        text-align: center;
    }

    .socials {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        border: 2px solid var(--primary);
    }

    .social::before {
        display: none;
    }
</style>
