---
const year = new Date().getFullYear();
---
<footer>
    <div>
        <div>
            <ul class="icons">
                <li><a href="#" target="_blank" class="foot-btn"><span class="git-icon">GitHub</span></a></li>
                <li><a href="mailto: #@gmail.com" class="foot-btn"><span class="mail-icon">Email</span></a></li>
                <li><a href="#" target="_blank" class="foot-btn"><span class="linked-in">LinkedIn</span></a></li>
            </ul>
        </div>
        <small>&copy; {year} Giuseppe Cutuli. All Rights Reserved.</small>
    </div>
</footer>
<style>
    footer {
        margin: 4rem 0;
    }

    ul.icons {
        cursor: default;
        list-style: none;
        padding: 0;
    }

    ul.icons li {
        display: inline-block;
        padding: 0 0.5rem;
    }

    div {
        text-align: center;
    }

    small a {
        color: var(--blue30);
    }

    .foot-btn {
        display: flex;
        padding: 10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid var(--primary);
    }

    .foot-btn:hover {
        border-color: #78c2ad;
    }

    .git-icon {
        content: url("/github-mark-white.svg");
    }

    .mail-icon {
        content: url("/mail-white.svg");
    }

    .linked-in {
        content: url("/li-in-white.png");
    }

    .light .foot-btn:hover {
        border-color: #78c2ad;
    }

    .light .git-icon {
        content: url("/github-mark.svg");
    }

    .light .mail-icon {
        content: url("/mail.svg");
    }

    .light .linked-in {
        content: url("/li-in.png");
    }
</style>
