---
import ThemeToggle from './ThemeToggle.astro';
---
<nav class="nav-bar">
    <a href="/" class="title-link">Giuseppe Cutuli</a>
    <div class="nav-links">
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/giuseppecutuli" target="_blank">GitHub</a>
        <ThemeToggle />
    </div>
</nav>

<style>
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
}

.title-link {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.title-link::before {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.nav-links a {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.3rem;
}

@media only screen and (max-width: 480px) {
    .nav-bar {
        grid-template-columns: 1fr;
    }

    .title-link {
        text-align: center;
    }

    .nav-links {
        justify-content: center;
    }
}
</style>
