---
import 'normalize.css';
import 'devicon/devicon.min.css';
import '../styles/global.css';

import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    hideHeader?: boolean;
    hideFooter?: boolean;
    pageTitle?: string;
}

const fontsPreloaad = [
    {
        href: '/fonts/josefin/JosefinSans-Regular.ttf',
        as: 'font',
        type: 'font/ttf',
        crossorigin: true
    },
    {
        href: '/fonts/josefin/JosefinSans-Medium.ttf',
        as: 'font',
        type: 'font/ttf',
        crossorigin: true
    },
    {
        href: '/fonts/josefin/JosefinSans-SemiBold.ttf',
        as: 'font',
        type: 'font/ttf',
        crossorigin: true
    },
    {
        href: '/fonts/rubik/Rubik-Medium.ttf',
        as: 'font',
        type: 'font/ttf',
        crossorigin: true
    },
]

const { pageTitle, hideFooter = false, hideHeader = false } = Astro.props;
---
<!DOCTYPE html>
<html transition:animate="none" lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="description" content="Astro description">
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        {fontsPreloaad.map(font => <link rel="preload" {...font} />)}
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <ViewTransitions />
	</head>
	<body>
        {!hideHeader && <Header />}
        <main transition:animate={fade({ duration: '0.4s' })} >
            <slot />
        </main>
        {!hideFooter && <Footer />}
        <script>
            function colorMode() {
                if (
                    localStorage.theme === "light" ||
                    (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: light)").matches)
                ) {
                    document.documentElement.classList.add("light");
                } else {
                    document.documentElement.classList.remove("light");
                }
              }
            
            colorMode();
            document.addEventListener('astro:after-swap', colorMode);
        </script>
	</body>
</html>
